
<h2><%=l(:label_order_mgmt)%></h2>
<%
  unless Setting.plugin_redmine_app_timesheets['project'] == "" or
           Setting.plugin_redmine_app_timesheets['admin_group'] == "" or
           Setting.plugin_redmine_app_timesheets['tracker'] == "" %>
    <div style="padding-bottom:20px"><%= l(:label_order_mgmt_help) %></div>
    <div class="splitcontent autoscroll">
      <table class="splitcontentleft list" style="width:49%">
        <thead>
        <tr><th colspan="3"><%= l(:label_enabled_orders)%></th></tr>
        <tr>
          <th><%=l(:label_order)%></th>
          <th><%=l(:label_project)%></th>
          <th><%=l(:label_action)%></th>
        </tr></thead>
        <tbody>
        <% (@orders[true] || []).each do |order|  %>
            <tr class="<%= cycle("odd", "even") %>">
              <td class="name"><span><%= link_to_if order.visible?, order.name, { :controller => 'versions', :action => 'show', :id => order } %></span></td>
              <td align="center"><%= link_to_if order.visible?, order.project.name, { :controller => 'projects', :action => 'show', :id => order.project_id } if order.project_id != @ts_project %></td>
              <td class="buttons">
                <div><%= link_to(l(:label_order_users), {:controller => 'order_users', :action => 'index', :id => order.id}, :class => 'action') if order.project_id == @ts_project %></div>
                <div><%= link_to(l(:label_disable), {:action => 'disable', :id => order.id}, :method => :put, :class => 'action')  %></div>
              </td>
            </tr>
        <% end %>

       <%= form_tag ({:action => 'create'}) do %>
             <tr class="<%= cycle("odd", "even") %>">
               <td class="name"><span><%= text_field_tag 'name', nil, :style => "width: 95%", :placeholder => l(:label_order_create_placeholder) %></span></td>
               <td></td>
               <td class="buttons">
               </td>
             </tr>
        <% end %>

        </tbody>
      </table>

      <table class="splitcontentright list" style="width:49%">
        <thead>
        <tr><th colspan="3"><%= l(:label_available_orders)%></th></tr>
        <tr>
          <th><%=l(:label_order)%></th>
          <th><%=l(:label_project)%></th>
          <th><%=l(:label_action)%></th>
        </tr></thead>
        <tbody>
        <%
          (@orders[false] || []).each do |order| %>
            <tr class="<%= cycle("odd", "even") %>">
              <td class="name"><span><%= link_to_if order.visible?, order.name, { :controller => 'versions', :action => 'show', :id => order } %></span></td>
              <td align="center"><%= link_to_if order.visible?, order.project.name, { :controller => 'projects', :action => 'show', :id => order.project_id } if order.project_id != @ts_project %></td>
              <td class="buttons">
                <%= link_to(l(:label_enable), {:action => 'enable', :id => order.id}, :method => :put, :class => 'action') %>
              </td>
            </tr>
       <% end %>
        </tbody>
      </table>
    </div>
<%else %>
     <h3><%=l(:label_timesheets_configure)%> <a horder='/settings/plugin/redmine_app_timesheets'><%=l(:label_here)%></h3>
<%end  %>

<% html_title(l(:label_order_mgmt)) -%>
