<p>

  <%=content_tag(:label, l(:label_timesheet_project_label) + ":") %>
  <% projects = settings["project"] == "" ? [[l(:label_timesheet_select), ""]] : []
     projects.concat(Project.all.map { |x| [ x.name, x.id ]})  %>
     <%=select_tag("settings[project]",
                options_for_select(projects,
                                   :selected => settings["project"])) %><br/>
  <%=l(:label_timesheet_project_hint)%>
  <% if settings["project"] == "" %>
      <br><span style="color: red;"><%=l(:label_timesheets_warn_select_project)%></span>
  <% end %>
</p>

<p>
  <%=content_tag(:label, l(:label_public_versions)) %>
  <%= check_box_tag "settings[public_versions]", "1", settings['public_versions']  %>
</p>

<%= hidden_field_tag 'settings[field]', settings['field'] %>