<%= field_set_tag raw("<strong>#{@period_start.to_s(:week)} - #{@period_end.to_s(:week)}</strong>") do %>
    <br />
    <br />

    <%= form_tag :controller => 'timesheets', :action => 'save_period' do %>

        <% unless @week_matrix.empty? %>
            <%= hidden_field_tag 'user_id', @user.id %>
            <%= hidden_field_tag 'day', params[:day] %>
            <%= hidden_field_tag 'view', params[:view] %>

            <div style="overflow-x: auto">
            <table class="ts-display">
              <thead>
              <tr>
                <th style="min-width: 150px"><%= l(:label_project)%> / <%= l(:label_order) %></th>
                <th style="min-width: 150px"><%= l(:label_order_activity) %></th>
                <th><%= l(:label_issue) %></th>
                <th></th>
                <% (@period_start..@period_end).each do |d| %>
                    <th style="min-width: 45px">
                      <%= link_to d.to_s(:day), {:controller => 'timesheets',
                                                 :action => 'index',
                                                 :day => d.to_s(:param_date),
                                                 :user_id => params[:user_id],
                                                 :view => 'day'
                      },
                                  :title => l(:label_day_view) %>
                    </th>
                <% end %>
                <th style="width: 70px;"></th>
              </tr>
              </thead>
              <tbody>
              <% last_order = ""
                 last_project = 0
                 @week_matrix.each_with_index do |row, idx|
                   order = row[:order]
                   readonly = row[:readonly]
                   disabled = row[:disabled]
                   cellcolor = nil
                   cellcolor = "#E0EEEE" if readonly
                   cellcolor = "lightgrey" if disabled

                   emptyrow = row[:emptyrow]
                   emptynextrow = row[:emptynextrow]

                   # skip display of disabled orders into the next empty week
                   hidden = (emptyrow and disabled)

                   @css_class = cycle("ts-odd", "ts-even") if order.name != last_order || order.project_id != last_project %>

                  <tr class="<%= @css_class %>" <%="style=display:none" if hidden %>>
                    <td>
                      <%= hidden_field_tag 'order[]', order.id %>
                      <% if order.is_native? %>
                          <%= order.name %>
                      <% else %>
                          <%=link_to_if order.visible?, order.project.name, { :controller => 'projects', :action => 'show', :id => order.project_id } %> /
                          <%= link_to_if order.visible?, order.name, { :controller => 'versions', :action => 'show', :id => order.id } %>
                      <% end %>
                    </td>

                    <td>
                      <%= hidden_field_tag 'previous_activity[]', row[:activity].id %>
                      <%= select_tag 'activity[]', options_for_select(disabled ? [[Enumeration.find(row[:activity].id).name, Enumeration.find(row[:activity].id).id]] : row[:activities], row[:activity].id) %>
                    </td>

                    <% last_order = order.name %>
                    <% last_project = order.project_id %>

                    <td>
                      <%= hidden_field_tag 'issue[]', (row[:issue].id rescue nil) %>
                      <%= link_to_if row[:issue].visible?, row[:issue].to_s, { :controller => 'issues', :action => 'show', :id => row[:issue].id } unless row[:issue].nil? %>
                    </td>

                    <% if idx == @week_matrix.size - 1 %>
                        <td width="10px"></td>
                    <% else %>
                        <td></td>
                    <% end %>

                    <% (@period_start..@period_end).each do |d| %>
                        <td><%= text_field_tag "hours[#{d.to_s(:param_date)}][]",
                                               row[:spent][d].nil? || row[:spent][d] == 0.0 ?
                                                       '' : row[:spent][d], :size => 1,
                                               :class => "hours",
                                               !disabled ? '' : :readonly => true,
                                               cellcolor.nil? ? '' : :style => "background-color:#{cellcolor}"
                        %></td>
                    <% end %>

                    <td style="text-align: left">
                      <span><%= link_to image_tag('delete.png'), {:controller => 'timesheets',
                                                              :action => 'delete_row',
                                                              :issue_id => row[:issue],
                                                              :activity_id => row[:activity].id,
                                                              :order_id => order.id,
                                                              :day => params[:day],
                                                              :user_id => params[:user_id],
                                                              :view => params[:view]
                      },
                                    :confirm => l(:text_are_you_sure),
                                    :method => :delete,
                                    :title => l(:button_delete) unless emptyrow or disabled %>
                      </span><span>
                      <%= link_to image_tag('bullet_go.png'), {:controller => 'timesheets',
                                                            :action => 'copy_row',
                                                            :issue_id => row[:issue],
                                                            :activity_id => row[:activity].id,
                                                            :order_id => order.id,
                                                            :day => params[:day],
                                                            :user_id => params[:user_id],
                                                            :view => params[:view]
                      },
                                  :method => :post,
                                  :title => l(:button_copy_and_follow) unless emptyrow or disabled or !emptynextrow %>
                      </span><span>
                        <%= link_to image_tag('bullet_delete.png'), {:controller => 'timesheets',
                                                             :action => 'remove_entry',
                                                             :issue_id => row[:issue],
                                                             :activity_id => row[:activity].id,
                                                             :order_id => order.id,
                                                             :day => params[:day],
                                                             :user_id => params[:user_id],
                                                             :view => params[:view]
                        },
                                    :method => :delete,
                                    :title => l(:button_remove_from_timesheet) unless row[:issue].nil? or emptyrow or disabled %>
                      </span>
                    </td>
                  </tr>
              <% end %>
              <tr>
                <td colspan="4" style="text-align: right"><hr/><strong><%= l(:label_total) %>:</strong></td>
                <% (@period_start..@period_end).each do |day| %>
                    <td><hr /><%= @daily_totals[day].to_f.round(2) %></td>
                <% end %>
                    <td><hr /><strong><%= @week_total.round(2) %></strong></td>
		   </tr>
              <tr><td></td></tr>
              <tr>
                <td style="text-align: left">
                  <p>
                    <%= submit_tag l(:button_save) unless @visibility.empty? and @user != User.current %>
                  </p>
                </td>
              </tr>
              </tbody>
            </table>
            </div>

        <% else %>
            <strong><%= l(:label_timesheet_no_entry) %></strong>
        <% end %>

    <% end %>
<% end %>

<br/><br/>



