<strong> <%= @week_start.to_s(:week) %> - <%= @week_end.to_s(:week) %> </strong>
<br />
<br />

<%= form_tag :controller => 'timesheets', :action => 'save_weekly', :week => @week_start.to_s(:param_date) do %>

	<table class="ts-display">
        <thead>
		<tr>
			<th>Order</th>
            <th>Activity</th>
            <th>Issue</th>
            <th></th>
          <% (@week_start..@week_end).each do |d| %>
   		        <th><%= d.to_s(:day) %></th>
			<% end %>
            <th></th>
		</tr>
        </thead>
        <tbody>
		<% last_order = ""
           last_project = 0
           @week_matrix.each_with_index do |row, idx|
              order = row[:order]
              project = Project.find(order.project_id)
              @css_class = cycle("ts-odd", "ts-even") if order.name != last_order || order.project_id != last_project %>
              <tr class="<%= @css_class %>">
                <td>
                  <%= hidden_field_tag 'order[]', order.id %>
                  <%= hidden_field_tag 'issue[]', row[:issue] ? row[:issue].id : nil %>
                  <% if order.project_id == @ts_project %>
                        <%= order.name %>
                     <% else %>
                        <%= link_to_if order.visible?(@user), order.name, { :controller => 'versions', :action => 'show', :id => order.id } %>
                         ( <%=link_to_if order.visible?(@user), project.name, { :controller => 'projects', :action => 'show', :id => order.project_id } %> )
                     <% end %>
                </td>

                <td>
                  <%= hidden_field_tag 'previous_activity[]', row[:activity].id %>
                  <%= select_tag 'activity[]', options_for_select(row[:activities], row[:activity].id) %>
                </td>

                <% last_order = order.name %>
                <% last_project = order.project_id %>

                <td> <%= link_to_if row[:issue].visible?(@user), row[:issue].to_s, { :controller => 'issues', :action => 'show', :id => row[:issue].id } unless row[:issue].nil? %> </td>

                <% if idx == @week_matrix.size - 1 %>
                    <td width="10px"></td>
                <% else %>
                    <td></td>
                <% end %>

                <% (@week_start..@week_end).each do |d| %>
                    <td><%= text_field_tag "hours[#{d.to_s(:param_date)}][]",
                                               row[d].nil? || row[:hours] == 0.0 ?
                                                             '' : row[:hours], :size => 1 %></td>
                <% end %>

                <td><%= link_to image_tag('delete.png'), {:controller => 'timesheets',
                                                          :action => 'delete_row',
                                                          :issue_id => row[:issue],
                                                          :activity_id => row[:activity].id,
                                                          :order_id => order.id,
                                                          :week =>@week_start.to_s(:param_date)
                                                         },
                                                          :confirm => l(:text_are_you_sure),
                                                          :method => :delete,
                                                          :title => l(:button_delete) %></td>
              </tr>
		<% end %>
    <tr>
      <td colspan="4"><hr /><strong>Total:</strong></td>
      <% (@week_start..@week_end).each do |day| %>
       <td><hr /><%= @daily_totals[day] ? @daily_totals[day] : 0.0  %></td>
      <% end %>
    </tr>
    </tbody>
	</table>

<p>
	<%= submit_tag l(:button_save) %>
</p>

<% end %>

