<div class="contextual">
  <% if @view == :day %>
      <%= link_to l(:label_week_view), params.merge({:view => :week}), :class => 'icon icon-reload' %>
  <% else %>
      <%= link_to l(:label_day_view), params.merge({:view => :day}), :class => 'icon icon-reload' %>
  <% end %>
  <%= link_to l(:label_log_time_on_issue), {:action => 'new'}, :class => 'icon icon-time-add' %>
</div>

<h2><%=l(:label_timesheets)%> <%=l(:label_for)%> <%= @user.firstname+' '+@user.lastname%></h2>

<%
   unless Setting.plugin_redmine_app_timesheets['project'] == "" %>

     <%= form_tag({:action => 'index'}, :method => :get) do %>
         <%= hidden_field_tag("day", (params[:day] || DateTime.now.to_s(:param_date)))%>
         <%= hidden_field_tag("view", (params[:view] || "week"))%>

        <table class="ts-display">
           <%   if (@order_admin) %>
                    <tr>
                    <%  s = content_tag('option', "<< #{l(:label_me)} >>", :value => User.current.id)
                        s << options_for_select((Group.find(Setting.plugin_redmine_app__space['auth_group']['timesheets'].to_i).users rescue User).active.all.map {|u| [u.name, u.id]}.sort, params[:user_id]) if User.is_app_enabled?('order_mgmt', User.current) %>
                        <th align="left"><%= label_tag l(:label_user) %> </th>
                        <td align="left"><%= select_tag 'user_id', s.html_safe, :onchange => "this.form.submit();"  %></td>
                      <td width="70%"></td>
                    </tr>
              <tr><td><br/></td></tr>
           <%   end %>
        </table>
    <%  end %>

    <%=  render :partial => "add_row" unless @visibility.empty? and @user != User.current %>
    <%=  render :partial => "add_entry" unless @visibility.empty? and @user != User.current %>
    <br/>

    <table class="ts-display">
      <%=  render :partial => "navigation" %>
    </table>


    <% if @view == :day %>
    <%= render :partial => "daily" %>
    <% else %>
    <%= render :partial => "weekly" %>
    <% end %>


<% else %>
     <h3><%=l(:label_timesheets_configure)%> <a href='/settings/plugin/redmine_app_timesheets'><%=l(:label_here)%></h3>
<% end
%>


